.btn {
  margin: 10px 0;
  padding: 5px 15px;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  background: var(--themeColor);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  border: none;
  outline: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.btn:active {
  margin-top: 8px;
  margin-bottom: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.btn .icon {
  margin-top: 1px;
  margin-right: 4px;
}
